<!doctype html>
<html lang="en" ng-app="ttEditApp">
<head>
	<title>tt - edit</title>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<script type="text/javascript" src="tt-edit-app.js"></script>
	<link rel="stylesheet" href="https://unpkg.com/purecss@0.6.0/build/pure-min.css">
</head>
<body>
	<div ng-controller="inputTableCntr">
		<table class="pure-table pure-table-bordered">
			<thead>
				<tr>
					<td>
						<button class="pure-button pure-button-primary">SAVE</button>
					</td>
					<td ng-repeat="classADay in classesEachDay">{{classADay.label}}
					</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="dayItem in dayItems">
					<td>{{dayItem.label + 'day'}}
					</td>
					<td ng-repeat="classADay in classesEachDay">
						<!-- may do it with directive -->
						<div class="prev-saved">
							<!-- list of all -->
						</div>
						<div class="plus" ng-if="true">
							<button class="pure-button button-success">+</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- <div ng-controller="inputTableCntr"> -->
	<div ng-controller="inputListCntr">
		<table class="pure-table pure-table-bordered">
			<thead>
				<tr>
					<td>Day</td>
					<td>Period</td>
					<td>Duration</td>
					<td>Batch</td>
					<td>Subject<button class="pure-button button-success">+</button></td>
					<td>Room<button class="pure-button button-success">+</button></td>
					<td>Teacher<button class="pure-button button-success">+</button></td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<select ng-model="dayChoice">
							<option value="">----</option>
							<option ng-repeat="day in dayItems"> {{day.label + 'day'}} </option>
						</select>
					</td>
					<td>
						<select ng-model="pChoice" class="pure-input">
							<option value="">----</option>
							<option ng-repeat="period in classesEachDay"> {{period.label}} </option>
						</select>
					</td>
					<td></td>
					<td>
						<select ng-model="sChoice" class="pure-input">
							<option value="">----</option>
							<option ng-repeat="sub in userConfigs.subjects"> {{sub.key}} </option>
						</select>
					</td>
					<td>
						<!-- checkboxes -->
					</td>
					<td>
						<select ng-model="rChoice" class="pure-input">
							<option value="">----</option>
							<option ng-repeat="room in userConfigs.rooms"> {{room.key}} </option>
						</select>
					</td>
					<td>
						<select ng-model="tChoice" class="pure-input">
							<option value="">----</option>
							<option ng-repeat="teacher in userConfigs.teachers"> {{teacher.key}} </option>
						</select>
					</td>
				</tr>
				<tr>
					<td colspan="7">
						<center>
							<button class="pure-button button-success">+ ADD ROW</button>
						</center>
					</td>
				</tr>
			</tbody>
		</table>{{userConfigs.rows}}
	</div>
</body>
</html>