<!doctype html>
<html lang="en" ng-app="ttEditApp">
<head>
	<title>tt - edit</title>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-cookies.js"></script>
	<script type="text/javascript" src="tt-edit-app.js"></script>
	<script type="text/javascript" src="inputTable.controller.js"></script>
	<script type="text/javascript" src="inputList.controller.js"></script>
	<link rel="stylesheet" href="https://unpkg.com/purecss@0.6.0/build/pure-min.css">
	<link rel="stylesheet" href="over.css">
</head>
<body ng-controller="bodyCntr">
	<div>
		<button ng-click="toggleViewTable()" class="pure-button button-success">switch</button>
		<span>selected semester is: {{conf.semCh}}
			<select ng-change="changeLoc()" ng-model="conf.semCh">
				<!-- <option value="">--</option> -->
				<option ng-repeat="sem in [1,2,3,4,5,6,7,8]">{{sem}}</option>
			</select> &amp; branch is: {{conf.brCh}}
			<select ng-change="changeLoc()" ng-model="conf.brCh">
				<!-- <option value="">--</option> -->
				<option ng-repeat="br in ['cs','me','ee','ce']">{{br}}</option>
			</select>
		</span>
	</div>
	<div ng-controller="inputTableCntr" ng-if="viewTable">
		<table class="pure-table pure-table-bordered">
			<thead>
				<tr>
					<td>
						<button class="pure-button pure-button-primary">SAVE</button>
					</td>
					<td ng-repeat="classADay in classesEachDay">{{classADay.label}}
					</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="dayItem in dayItems">
					<td>{{dayItem.label}}
					</td>
					<td ng-repeat="classADay in classesEachDay">
						<!-- may do it with directive -->
						<div class="prev-saved">
							<!-- list of all -->
						</div>
						<div class="plus" ng-if="true">
							<button class="pure-button button-success">+</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- <div ng-controller="inputTableCntr"> -->
	<div ng-controller="inputListCntr" ng-if="!viewTable">
		<table class="pure-table pure-table-bordered">
			<thead>
				<tr>
					<td>Day</td>
					<td>Period</td>
					<td>Duration</td>
					<td>Batch</td>
					<td>Subject<button class="pure-button button-success">+</button></td>
					<td>Room<button class="pure-button button-success">+</button></td>
					<td>Teacher<button class="pure-button button-success">+</button></td>
					<td>Actions</td>
				</tr>
			</thead>
			<tbody>
				<!-- ngrepeat for saved rows -->
				<tr ng-repeat="row in userConfigs.rows">
					<td> {{row.d}} </td>
					<td> {{row.p}} </td>
					<td> {{row.dur}} </td>
					<td> {{showBtc(row.b,conf.brCh)}} </td>
					<td> {{row.s}} </td>
					<td> {{row.r}} </td>
					<td> {{row.t}} </td>
					<td>
						<button class="pure-button button-success" ng-click="copyRow(row)" >Copy</button>
						<button class="pure-button button-success" ng-click="editRow(row,$index)" >Edit</button>
						<button class="pure-button button-danger" ng-click="deleteRow($index)" >Delete</button>
					</td>
				</tr>
				<!-- ngrepeat for saved rows -->

				<tr>
					<td>
						<select ng-model="rowInput.d">
							<option value="">----</option>
							<option ng-repeat="day in dayItems">{{day.label}}</option>
						</select>
					</td>
					<td>
						<select ng-model="rowInput.p" class="pure-input">
							<option value="">----</option>
							<option ng-repeat="period in classesEachDay">{{period.label}}</option>
						</select>
					</td>
					<td>
						<select ng-model="rowInput.dur" class="pure-input">
							<option value="">----</option>
							<option ng-repeat="d in [1,2,3]">{{$index+1}}</option>
						</select>
					</td>
					<td>
						<!-- checkboxes -->
						<span ng-repeat="bt in userConfigs.batches[conf.brCh].many">
							<label for="{{'chBtc'+$index}}">{{conf.brCh + bt}}</label>
							<input type="checkbox" id="{{'chBtc'+$index}}" ng-model="rowInput.b[$index]" />
						</span>
					</td>
					<td>
						<select ng-model="rowInput.s" class="pure-input">
							<option value="">----</option>
							<option ng-repeat="sub in userConfigs.subjects">{{sub.key}}</option>
						</select>
					</td>
					<td>
						<select ng-model="rowInput.r" class="pure-input">
							<option value="">----</option>
							<option ng-repeat="room in userConfigs.rooms">{{room.key}}</option>
						</select>
					</td>
					<td>
						<select ng-model="rowInput.t" class="pure-input">
							<option value="">----</option>
							<option ng-repeat="teacher in userConfigs.teachers">{{teacher.key}}</option>
						</select>
					</td>
					<td>
						<button ng-show="!isEmptyObj(rowInput)" ng-click="resetRow()" class="pure-button button-danger">reset</button>
					</td>
				</tr>
				<tr>
					<td colspan="7">
						<center>
							<button ng-click="addRow(rowInput)" class="pure-button button-success">+ ADD ROW</button>
						</center>
					</td>
					<td>
						<center>
							<p ng-show="savingPost"><img src="gif-infinite.gif"></p>
							<button ng-hide="savingPost" ng-click="savePost()" class="pure-button pure-button-primary">SAVE</button>
						</center>
					</td>
				</tr>
			</tbody>
		</table>{{userConfigs.rows}}{{rowInput}}
	</div>
	<button type="button" name="button" onclick="openNav()">open</button>
	<div class="overlay" id="myNav">
		<script type="text/javascript">
		/* Open when someone clicks on the span element */
		function openNav() {
			document.getElementById("myNav").style.width = "100%";
		}

		/* Close when someone clicks on the "x" symbol inside the overlay */
		function closeNav() {
			document.getElementById("myNav").style.width = "0%";
		}
		</script>
		<div class="listView">asadsd</div>
		<div class="grey-transparent closeArea" onclick="closeNav()">adasda</div>
	</div>
</body>
</html>
